<table *ngIf="incidents">
  <tr>
    <th>Ticket Id</th>
    <th>Issue Name</th>
    <th>Summary</th>
    <th>Severity</th>
    <th>Submitted By</th>
    <th>Updated On</th>
    <th>Category</th>
    <th>Sub Category</th>
    <th>Assigned To</th>
    <th>State</th>
  
  
  </tr>
  <tr *ngFor="let incident of incidents">
  <td>{{incident.ticketid}}
  </td>
  <td>{{incident.issue}}</td>
  <td>{{incident.summary}}</td>
  <td>{{incident.severity}}</td>
  <td>{{incident.submittedby}}</td>
  <td>{{incident.updated}}</td>
  <td>{{incident.category}}</td>
  <td>{{incident.subcategory}}</td>
  <td>{{incident.assignedto}}</td>
  <td>{{incident.state}}</td>

  </tr>

  <tr>
    <td colspan="10" class="text-center">
          <a routerLink="/home" class="btn btn-light">Back to Home</a>
        
    </td>
</tr>
  </table>