<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">QTicketing System</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/home" class="nav-link" routerLinkActive="active">
          Home
        </a></li>      
      <li class="nav-item">
        <a routerLink="/userprofile" class="nav-link">
          Profile
        </a>      </li>
        <li class="nav-item">
          <a routerLink="/createincident" class="nav-link">
            Create Incident
          </a>      </li>
          <li class="nav-item">
            <a routerLink="/showincident" class="nav-link">
              Submitted Incidents
            </a>      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
    </form>
    <button type="button" class="btn btn-outline-danger my-2 my-sm-0" (click)="onLogout()" value="Logout">Logout</button>
    
    

   

  </div>
</nav>

<table *ngIf="incidents">
<tr>
  <th>Ticket Id</th>
  <th>Issue Name</th>
  <th>Summary</th>
  <th>Severity</th>
  <th>Submitted By</th>
  <th>Updated On</th>
  <th>Category</th>
  <th>Sub Category</th>
  <th>Assigned To</th>
  <th>State</th>
  <th>Operations</th>


</tr>
<tr *ngFor="let incident of incidents">
<td>{{incident.ticketid}}
</td>
<td>{{incident.issue}}</td>
<td>{{incident.summary}}</td>
<td>{{incident.severity}}</td>
<td>{{incident.submittedby}}</td>
<td>{{incident.updated}}</td>
<td>{{incident.category}}</td>
<td>{{incident.subcategory}}</td>
<td>{{incident.assignedto}}</td>
<td>{{incident.state}}</td>
<td>
    <button class="btn btn-outline-warning my-2 my-sm-0" [routerLink]="['/edit', incident._id]" type="button">Edit</button>
    <button type="button" class="btn btn-outline-danger my-2 my-sm-0" (click)="deleteIncident(incident._id)" value="Delete">Delete</button>

</td>
</tr>
</table>

